.bubble {
  background-color: #3c6997;
  height: 100px;
  width: 100px;
  padding: 0.5em;
  margin-bottom: 3px;
}

polyline {
  stroke: #3c6997;
  stroke-width: 1;
}

.st2 {
  fill: none;
  stroke: #3c6997;
  stroke-width: 1;
}
