.heroContainer {
  padding: 0;
  height: calc(100vh - 66px);
}

.polkadots {
  position: absolute;
  background-image: url("/polkadots.svg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  width: 100%;
  height: 200vh;
}

.herotext {
  margin-top: 100px;
  margin-left: 20px;
  text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 1);
}

.herotext > h1 {
  margin: 0;
}

.stand {
  position: absolute;
  width: 100%;
  height: 100%;
}

.triangle-svg {
  filter: drop-shadow(0 7px 4px rgba(0, 0, 0, 0.7));
}

.triangle-pol {
  fill: #3c6997;
}

.motor {
  position: absolute;
  top: 5%;
  height: 90%;
  width: auto;

  /* center horizontally */
  left: 0;
  right: -100%;
  margin-left: auto;
  margin-right: auto;

  animation: mslide 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes mslide {
  to {
    right: 0%;
    top: 110%;
  }
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
}

.invis {
  visibility: hidden;
  z-index: -1;
}
