.sponsors {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
}

.sponsorlogo {
  scroll-snap-align: center;
  display: block;
  cursor: pointer;
}

.spc {
  height: 300px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
}

.spc > .col {
  height: 100%;
}

.car-nav {
  display: inline-block;
  cursor: pointer;
  margin: 0 6px;
}

.car-nav-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.2;
}

.car-nav-active {
  opacity: 0.8;
}

.spons-car {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
}
