html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* set custom font styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 800 !important;
  text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.4);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  color: var(--white);
  font-size: large;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--dark);

  padding-top: 66px;
}

.custom-switch {
  padding-left: 0;
}
