html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--dark);

  padding-top: 66px;
}

.custom-switch {
  padding-left: 0;
}
