@import-normalize;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #171717;

  padding-top: 66px;
}

.btn {
  border-radius: 2px;
  border-width: 2px;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(1px);
}

.custom-switch {
  padding-left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
