// Nova huisstijl colors
$blue: #3c6997;
$gray-800: #171717;
$yellow: #ffde2d;
$white: #fafafa;

// set all other colors to white?
$indigo: #ffffff;
$purple: #ffffff;
$pink: #ffffff;
$red: #ffffff;
$orange: #ffffff;
$green: #ffffff;
$teal: #ffffff;
$cyan: #ffffff;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
